<!DOCTYPE html>
<html>
	<head>
		<script>
			var email = "<%-email%>";
			var greeting = "<%-greeting%>";
		</script>
		<title>Village: A Friend</title>
		<!-- Connceting Sheets -->
		<link rel="stylesheet" href="./css/bootstrap.min.css">
		<link rel='stylesheet' href='./stylesheets/style.css' />
		<!--Favicons -->
		<link rel="apple-touch-icon" sizes="57x57" href="images/favicons.ico/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="images/favicons.ico/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="images/favicons.ico/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="images/favicons.ico/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="images/favicons.ico/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="images/favicons.ico/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="images/favicons.ico/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="images/favicons.ico/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="images/favicons.ico/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="images/favicons.ico/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="images/favicons.ico/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="images/favicons.ico/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="images/favicons.ico/favicon-16x16.png">
		<link rel="manifest" href="images/favicons.ico/manifest.json">
		<!-- End Favicons -->
		<!--Start Meta Tags-->
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="images/favicons.ico/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
		<meta name="description" content=" The Companion Bot for your Child ">		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="keywords" content="village, villag, boys, boy, children, girl, child, girls, chat, bot, robot, chatbot, hackathon, goodienation, aasim, nathanial, alex, tai, audrey"/>
		<!-- End Meta Tags -->
	</head>
	<script src="https://use.fontawesome.com/535b45c3ad.js"></script>
	<body>
		<!-- Start Navigation -->
		<div class="container navbar navbar-fixed-top"> 
			<div class="row nav-row">
				<div class="col-xs-2 left-logo"> <img class="nav-left" src="images/logoWhiteCrisp.png"> </div>
				<div class="col-xs-8 center">
					<center>
						<h4 id="date"></h4>
						<h2 class="brand align-middle middle">Village</h2> 
					</center>
				</div>
				<!-- If the 'LogOut' button size is too small, just change the width and height below -->
				<a href="/"> <div class="col-xs-2 guest-page exit-logo text-right"> <img src="images/logoutWhite.png"> </div> </a>
			</div>
		</div>
	<!-- End Navigation -->
		<div class = "page-wrapper">
			<div class="container">
				<div class="content">
					<div class="col-xs-offset-6 chat-container">
						<form>
							<center>
								<br>
								<!-- Dog Avatar Code -->
								<div class="row">
									<div class="col-xs-4">
                    <img id="dog-head" src="images/doggoTealFilled.png">
									</div>
									<div>
										<h4 class="right col-xs-7 text-right bot"></h4>
										<br> <br> <br> <br> 
									</div>
								</div>
								<!--  -->
								<br>
								<div>
									<!--Kid Avatar Code -->
									<div class="row">
										<div class="col-xs-6 pull-left">  </div>
										<div class="col-xs-offset-5 col-xs-6" id="	inverseProportional">
											<p id="kid" class="coloredBackground">
					                        <span style="display:inline;">...</span>
					                      	</p>
					                    </div>
										<img class="pull-right kid-head" src=<%-child_avatar%>
									</div>
								</div>
								<div class="row cols-xs-offset-1 response-box">
									<!-- Get's replaced with Jquery -->
  										<div id="responses">
  									</div>
                  					</div>
							</center>
						</form>
					</div>
				</div>
			</div>
		</div>
		<script src='./js/jquery.min.js'></script>
		<script src="./js/flow.js"></script>
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	</body>
</html>