<!DOCTYPE html>
<html>

<head>
	<title>Village: Login Page</title>
	<!-- Link different style sheets + javascript -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel='stylesheet' href="stylesheets/frontpagestyle.css">
	<!-- Start Favicon -->
	<link rel="apple-touch-icon" sizes="57x57" href="images/favicons.ico/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="images/favicons.ico/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/favicons.ico/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="images/favicons.ico/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/favicons.ico/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="images/favicons.ico/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="images/favicons.ico/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="images/favicons.ico/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="images/favicons.ico/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="images/favicons.ico/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="images/favicons.ico/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="images/favicons.ico/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="images/favicons.ico/favicon-16x16.png">
	<link rel="manifest" href="images/favicons.ico/manifest.json">
	<!-- End Favicon -->

	<!-- Start Metatags -->

	<!-- Favicon Meta Tags -->
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="images/favicons.ico/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<!-- End Favicon Meta tags -->
	<meta name="description" content=" The Companion Bot for your Child ">		
	<meta name="keywords" content="village, villag, boys, boy, children, girl, child, girls, chat, bot, robot, chatbot, hackathon, goodienation, aasim, nathanial, alex, tai, audrey"/>
	<!-- End Meta tags -->
	<script src="JS/jquery.min.js"></script>
	<script>
    	var onLoad;
		onLoad = <%- locals.onLoad %>
		console.log(onLoad)
    </script>
</head>
<body>
<div class = "page-wrapper">
	<div class="content">
		<!-- Start Navigation -->
		<div class="container navbar navbar-fixed-top"> 
			<div class="row nav-row">
				<div class="col-xs-2 left-logo"> <img src="images/logoWhiteCrisp.png"> </div>
				<div class="col-xs-8">
					<center>
						<h4 id="date"></h4>
						 <h2 class="brand align-middle middle">Village</h2> 
					</center>
				</div>
				<!-- If the 'LogOut' button size is too small, just change the width and height below -->
				<div class="col-xs-2 text-right guest-page exit-logo"> <img src="images/logoutWhite.png"> </div>
			</div>
		</div>
	<!-- End Navigation -->
	<!-- main menu start -->
    <div class="col-xs-offset-6 guest-menu">
        <div class="col-xs-12 box-content text-center">
			<div class="form">
				<!-- login form -->
				<form class="login-form" method = "post" action = "/loginForm">
				<h1 class="banner">Welcome Back</h1>
					<!-- email validated by pattern attribute -->
					<input type="text" class="login form-control" placeholder="your email" name = "email" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" title="email would be the following pattern something@something.something" required/>
					<!-- password validated by pattern attribute -->
					<input type="password" class="login form-control" placeholder="password (4 characters or more)" name = "password" pattern="^.{4,}$" title="should be at least 4 characters long" required/>

					<button id="btn_login" type = "submit">Sign In</button>
					<p class="left col-xs-5 guest_page left">Welcome Page</p>
					<p class="right col-xs-offset-7 register_page right">Register Page</p>
			    </form>
			    <!-- end of login form -->
			    <!-- form everyone sees - welcome page-->
			    <form class="guest-form" method = "post" action="/search">
			    <h1 class="banner">Welcome to Village!</h1>
				<div class = "row">
					<p class="register_page middle-guest btn btn-default register_button">Create Account</p>
					<p class="login_page bottom-guest btn btn-primary login_button">Login</p>
				</div>
			    </form>
			    <!-- end of welcome page -->
			    <!-- registration form -->
			    <form class = "register-form" action="/registerForm" method="post">
			    <h1 class="banner">REGISTER</h1>
                   <div class="form-group">
					<div class="row inline-form">
						<div class = "left_field col-xs-6">
							<input class="input form-control" type="text" name="first_name" placeholder = "First Name" pattern="^[a-zA-Z0-9]{2,}$" title="Must be at least 2 characters" required>
						</div>
						<div class="right-field col-xs-6">
							<input class="input form-control" type="text" name="last_name" placeholder = "Last Name" pattern="^[a-zA-Z0-9]{2,}$" title="Must be at least 2 characters" required/>
						</div>
					</div>
                        <input type="text" class="form-control" name="email" placeholder="Email Address" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" title="email would be the following pattern something@something.something" required/>
                        
                        <input type="password" class="form-control" name="password1" placeholder="Password (4 characters or more)" required pattern="^.{4,}$" title="should be at least 4 characters long"/>
                        
                        <input type="password" class="form-control" name="password2" placeholder="Confirm your Password" pattern="^.{4,}$" title="should be at least 4 characters long" required/>
                    	
                        <input type="text" class="form-control" name="relationship" placeholder="Relationship to a child (Mom, Dad, etc.)" pattern="^[a-zA-Z0-9]{2,}$" title="Must be at least 2 characters" required/> 

                        <input type="text" class="form-control" name="child_name" placeholder="Child's Name" pattern="^[a-zA-Z0-9]{2,}$" title="Must be at least 2 characters" required/>

                        <div class="gender form-group row">	
							<label class="radio-inline"><input id="boyid" type="radio" name="boygirl" value="boy" checked />Boy</label>

							<label class="radio-inline"><input id="girlid" type="radio" name="boygirl" value="girl" />Girl</label>
						</div>
						
                   		<button  type = "submit" id="register_submit">Register</button>
                   		<p class="guest_page back_to_guest">Back to Welcome page</p>
                    </div>
				</form>
				
			</div>
		</div>
	</div>
</div>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="JS/script.js"></script>
</body>
</html>